
.results-container {
  display: inline;
  flex-flow: wrap;
}

.result-item {
  margin: 60px;
  display: inline-block;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}

.result-item:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); 
}

.date {
  position: relative;
  top: 10px;
}

.posted-on {
  position: relative;
  left: 25px;
  bottom: 25px;
}

.location {
  position: relative;
  top: 5px;
}

.results-container img {
width: 80px;
height: auto;
}

.company-logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 80px;
  height: auto;
}

.company-logo {
width: 100%;
height: 200px;
}

.job-title {
  text-transform: capitalize;
}


/* Error Message */
p.message {
  text-align: center;
  font-size: large;
  color: rgba(0, 0, 0, 0.6);
}

/* Spinner */
.spinner {
  margin: auto;
  margin-top: 20px;
  left: 0;
  right: 0;
  position: absolute;
  color: rgb(66, 131, 153);
}