.heading {
  font-size: 30px;
  padding: 10px 0;
  margin: auto 0;  
  color: #444;
  text-align: center;
  background-image: url("img/wave.svg"), url("img/header.jpg");
  border-radius: 15px;
  width: 100%;
  height: 65vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; 
}

.heading-text {
  color: #444;
  transition: all 0.4s;
}

.heading-text:hover {
  color: black;
  cursor: pointer;
}